.btn-group(role='group')
  button#faqq.btn.nav-button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    | Perguntas Frequentes
  .dropdown-menu(aria-labelledby='faq')
    a.dropdown-item.scroll(href="#faq-judicial" target="_blank") Integra Judicial
    a.dropdown-item.scroll(href='#faq-policial' target="_blank") Integra Policial
