.btn-group(role='group')
  button#projeto.btn.nav-button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    | Projeto Piloto
  .dropdown-menu(aria-labelledby='projeto')
    a.dropdown-item.scroll(href="#projeto-judicial" target="_blank") Integra Judicial
    a.dropdown-item.scroll(href='#projeto-policial' target="_blank") Integra Policial
