.btn-group(role='group')
  button#sistema.default-button.link.button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    i.fas.fa-external-link-square-alt
    | Acesse o sistema
  .dropdown-menu(aria-labelledby='sistema')
    a.dropdown-item(href="https://apps.mprj.mp.br/sistema/integrajudicial" target="_blank") Integra Judicial
    a.dropdown-item(href='https://mgpe.mprj.mp.br' target="_blank") Integra Policial
