

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

a, button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus, a:active:focus, button:focus, button:active {
  outline: 0;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  position: relative;
  height: 3rem;
  padding: 0.75rem 2rem;
  margin: 1.5rem 0;
  background-color: #f2f2f2;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

input[type="text"]:focus {
  outline: none;
}


.wrapper {
  position: relative;
  min-height: 100%;
}

.block {
  padding: 4.5rem 0;
}

.block .block-desc {
  text-align: center;
  margin-bottom: 1.5rem;
}

.block .block-desc p {
  width: 80%;
  margin: 0 auto;
}

.gray {
  padding: 4.5rem 0;
  background-color: #e9eced;
}

.color {
  padding: 4.5rem 0;
  color: #ffffff;
}

.flex-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
}
