/* Base styles */
html {
  font-size: 15px
}

body {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  font-family: $font-family;
  color: $primary-text;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.text-notice-line {
  display: inline-block;
  position: relative;
}

.text-notice-line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5rem;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.block {
  padding: 15rem 0;
}

.header-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .header-content {
    height: 100vh;
    background-color: $deep-blue;

    .trapeze-bg {
      position: absolute;
      top: 0px;
      left: -18%;
      width: 65%;
      height: 100%;
      background-color: #e9eced;
      transform: skewX(-7deg);
    }

    .screen-container {
      position: relative;
      height: 100vh;
    }

    .welcome-content {
      position: relative;
      width: 100%;
      top: 50vh;
      left: 0;
      transform: translateY(-50%);
    }

    .product-text {
      position: relative;
      padding: 0 4.5rem 0 0;
      transform: translateY(-50%);
    }

    .product-image {
      position: relative;
      text-align: center;
      transform: translateY(-50%);
    }

    .left {
      animation: move-right 0.9s;
      animation-delay: 1s;
    }

    .right {
      animation: move-left 0.9s;
      animation-delay: 1s;
    }
  }
}

.fixed-top {
  z-index: 15 !important;
}

nav {

  &.navbar {
    padding: 1rem 2rem 1rem 5rem !important;
    transition-duration: 0.3s;
  }

  &.navbar-scroll {
    background: $deep-blue;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition-duration: 0.3s;
  }

  &.nav-dropdown-scroll {
    background: #e7eaea;
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
  }

  div > ul.navbar-nav > li {
    font-weight: normal;
    display: block;

    a {
      padding: 0.75rem 0;
      margin: 0 1rem;
      font-size: 0.8rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      z-index: 5;
      color: $ocre
    }

    a {
      display: inline-block;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      transition: -webkit-transform .3s cubic-bezier(.694, .048, .335, 1);
      fill: $primary-text;
      transition: all .25s;

      &:before {
        background-color: $ocre;
        transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s
      }

      &:after, &:before {
        content: "";
        position: absolute;
        top: 30px;
        right: 0;
        left: auto;
        width: 0;
        height: 2px;
        z-index: 2
      }

      &:after {
        background-color: $ligth-primary-color;
        transition: all .25s cubic-bezier(.694, .048, .335, 1);
      }

      &:hover {
        color: $accent-color;
        transform: translateX(0);
      }
    }

    div.btn-group {
      padding: .75rem 0;
      margin: 0 1rem;
      font-size: .8rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      z-index: 5;
      .btn {
        font-size: 0.8rem;
        color: $ocre;
        text-transform: uppercase;
        padding: 0;

        &:hover {
          color: $accent-color;
          transform: translateX(0);
          padding: 0;
        }

      }
    }

  }
  #navbar > ul > li:nth-child(5) > div { padding: 0; margin: 0;}
  .dropdown-menu .dropdown-item { margin: 10px 0; padding: 0 10px;}
  .dropdown-menu .dropdown-item:hover { margin: 10px 0; padding: 0 10px;}


  div > ul.navbar-nav > li {
    &.current a {
      color: $accent-blue;
      transform: translateX(0);

      &:after {
        content: "";
        position: absolute;
        top: 30px;
        right: 0;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 2
      }

      &:after {
        background-color: $ligth-primary-color;
        transition: all .25s cubic-bezier(.694, .048, .335, 1);
      }
    }
  }
}


section {

  #projeto-judicial, #projeto-policial {
    background-color: #e9eced;
    background-position: 50% 50%;
    .funcionalidades {
      //padding: 0 4.5rem 0 0;
    }

    ul.funcionalidades {
      margin-top: 4em;

      li {
        padding: 10px;
        margin: 0.5em 0;
        white-space: pre;
        list-style-type: disc;
        color: $accent-color;

        a {
          font-weight: normal;
          color: $accent-color;
          white-space: nowrap;

          &:hover {
            margin: 10px;
            padding: 5px;
            color: $dark-primary-color;
            background-color: $pale-gray;
            border: 1px solid $ocre;
            border-radius: 10px;

          }
        }
      }
    }
  }

  #faq-judicial, #faq-policial {
    background-color: #e9eced;

    .perguntas {
      //padding: 0 4.5rem 0 0;
      i {
        top: -4px;
        left: -42px;
      }
    }

    ol.perguntas {
      margin-top: 4em;

      li {
        padding: 10px;
        margin: 0.2em 0;
        list-style-type: decimal;

        div {
          margin: 1em 1em;

          ul li {
            margin: 0;
            padding: 0.25em;
          }
        }

        a {
          font-weight: normal;
          color: $accent-color;
          margin: 10px;
          white-space: nowrap;

          &:hover {
            margin: 10px;
            padding: 5px;
            color: $dark-primary-color;
            background-color: $pale-gray;
            border: 1px solid $ocre;
            border-radius: 10px;

          }
        }
      }
    }
  }

  #videos {
    background-color: #e9eced;

    .videos {
      i {
        top: -4px;
        left: -42px;
      }

      ul {
        margin-top: 4em;
      }

      .media-body {
        color: $accent-color;
      }
    }
  }

}


@media only screen and (min-width: 64em) {
  .navbar-nav > li {
    a:hover:after,
    a:hover:before {
      width: 100%;
      left: 0;
    }
  }
  .navbar-nav > li.active {
    a:hover:after,
    a:hover:before {
      width: 100%;
      left: 0;
    }
  }
}


.card {
  border: #fff 5px solid;
  border-radius: 5px;
  box-shadow: 0px 5px 39px -10px rgba(0, 0, 0, 0.6);
  margin: 5px;

}

footer {
  width: auto;
  background-color: $deep-blue;
  padding: 1em;

  p {
    text-align: center;
    color: $ocre;
    margin: 0;
    font-size: 12px;
  }

  ul, li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  ul > li {
    margin-right: 1em;
  }

  ul > li:last-child {
    margin-right: 0;
  }

  ul > li > a > svg {
    width: 16px;
    height: 16px;
  }

  ul > li > a > svg > path {
    fill: $accent-color;
  }

  ul > li > a:hover > svg > path {
    fill: $ligth-primary-color;
  }
}

/*
* 2. Typography
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-style: inherit;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 0 0 1.5rem 0;
  font-weight: 700;

  i {
    //display: block;
    color: #00bcd4;
    opacity: 0.25;
    position: absolute;
    top: 14px;
    left: -90px;
  }

}


h2, .h2 {
  font-size: 2.441rem;
  line-height: 3rem;
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h3, .h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
}

h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 700;
}

h5, .h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 1.5rem 0;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.5rem 0 0 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-left: 1.5rem;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

a:hover, a:focus, a:active, a:hover:active {
  text-decoration: none;
}

@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
}


/* Buttons */
.default-button {

  //background-color: #43bccd;
  margin: 0.3rem !important;

  &:hover {
    color: #ffffff;
    background-color: #43bccd;
  }

  &:before {
    background: #34b1c3;
  }

  &.link {
    color: $deep-blue;
    background-color: $ocre;
  }
  &.suporte {
    color: #ffffff;
    background-color: #43bccd;;
  }
  &.sugestoes {
    color: #ffffff;
    background-color: #43bccd;;
  }
  i { margin-right: 0.5rem; }

}


.btn-group .sistema {
  button {
    color: $deep-blue !important;
    background-color: $ocre;
    font-size: 0.8rem !important;
    line-height: 1.5rem !important;
    padding: 0 0.75rem !important;
    margin: 0.75rem 1rem !important;
    height: 1.5rem !important;
  }
}


.sistema {
  color: $deep-blue !important;
  background-color: $ocre;
  font-size: 0.8rem !important;
  line-height: 1.5rem !important;
  padding: 0 0.75rem !important;
  margin: 0.75rem 1rem !important;
  height: 1.5rem !important;

  &:hover {
    color: $pale-ocre;
    background-color: #43bccd;
  }

  &:before {
    background: #34b1c3;
  }
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 0.85rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.button:before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: skewX(-7deg);
  -moz-transform: skewX(-7deg);
  -ms-transform: skewX(-7deg);
  -o-transform: skewX(-7deg);
  transform: skewX(-7deg);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button:before:hover {
  color: #ffffff;
}

.button:hover:before {
  left: 0;
}

.button:focus, .button:active:focus, .button:focus, .button:active {
  color: #ffffff;
}

.dropdown-menu {
  background-color: $deep-blue;
  .dropdown-item {
    color: $ocre;
   &:hover {
     color: $dark-primary-color;
     background-color: darken($deep-blue, 10);
   }
  }
}



/*
* 3. Preload
*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e9eced;
  z-index: 100;
}

#page-preloader .circular {
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 50px;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%) rotate(360deg);
  width: 50px;
  z-index: 4;
}

#page-preloader .path {
  stroke-dasharray: 1, 500;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  -moz-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  -o-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

#page-preloader .path {
  stroke: $deep-blue;
}

.modal-lg {
  max-width: 100% !important;
}

.bg-paralax {
  position: absolute !important;

}

@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
  .bg-deep-blue {
    background-color: $deep-blue;
  }
}
