/*
 _Typography
 */

$font-size: 18px;
$font-family: 'Montserrat', sans-serif !important;
$heading-weight: 300;

/*
 _Colors
 */
$off-white: rgb(250, 250, 250);
$pale-gray: rgb(227, 227, 227);
$bluish-gray: rgb(207, 216, 220);
$pale-blue: rgb(180, 217, 245);
$deep-blue: rgb(52, 66, 82);
$accent-blue: rgb(0, 167, 240);
$ocre: #FFC107;
$pale-ocre: #FFECB3;
$super-dark-blue: darken($deep-blue, 50);

$dark-primary-color: #0288D1;
$ligth-primary-color: #B3E5FC;
$accent-color: #038090;
$primary-text: #212121;

//#DEFAULTS
$site-text: $primary-text;
$site-h1-hello: $dark-primary-color;

//Defaul images
$site-logo-svg: url('../img/integra.svg');

