.container.faq
  .row.justify-content-between
    .col-8.perguntas
      h1
        i.fas.fa-question
        | Perguntas frequentes
      ol.perguntas
        li
          a(href="#p1" data-toggle="collapse" data-target="#p1") O que é o Integra Judicial ?
          #p1.collapse
            | É o Sistema de processo eletrônico, que visa a tratar as intimações oriundas do TJRJ que são encaminhadas para o MPRJ.
        li
          a(href="#p2" data-toggle="collapse" data-target="#p2") Quais são as principais funcionalidades da versão inicial do Integra Judicial ?
          #p2.collapse
            ul
              li Recepção e distribuição das intimações;
              li Abertura das intimações;
              li Peticionamento intercorrente;
              li Consulta das peças do processo;
              li Integração MGP (gravação automática)
        li
          a(href="#p3" data-toggle="collapse" data-target="#p3") Quem pode acessar o Integra Judicial ?
          #p3.collapse
            | O Integra pode ser acessado tanto por Procuradorias como Promotorias e, na sua versão inicial, existem os seguintes perfis de acesso: Procurador, Analista Procuradoria, Promotor, Analista Promotoria e Secretaria.
        li
          a(href="#p4" data-toggle="collapse" data-target="#p4") O Integra, ao realizar a abertura da intimação e o peticionamento, faz a atualização automática na base do TJ ?
          #p4.collapse
            | Sim, ao realizar as operações de abertura da intimação e de peticionamento pelo Integra Judicial, é realizada no mesmo momento a atualização das informações no TJRJ. Para isso o Integra utiliza o serviço MNI (Modelo Nacional de Interoperabilidade).
        li
          a(href="#p5" data-toggle="collapse" data-target="#p5") O que é o MNI (Modelo Nacional de Interoperabilidade) ?
          #p5.collapse
            | O MNI é um serviço desenvolvido pelo TJRJ e que tem o seu contrato definido pelo CNJ (Conselho Nacional de Justiça). Entenda-se como contrato a definição das informações que o Serviço irá prover para leitura e gravação na base do Tribunal. Mais informações sobre o MNI acessar o link:
            a(href="http://www.cnj.jus.br/tecnologia-da-informacao/comite-nacional-da-tecnologia-da-informacao-e-comunicacao-do-poder-judiciario/modelo-nacional-de-interoperabilidade") MNI

        li
          a(href="#p6" data-toggle="collapse" data-target="#p6") Utilizando o Integra é necessário fazer o registro manual no MGP ?
          #p6.collapse
            | O Integra Judicial fará o registro automático no MGP de todas as operações com as intimações. Apenas casos excepcionais não serão registrados automaticamente. Por exemplo: caso um processo tenha duas intimações.
        li
          a(href="#p7" data-toggle="collapse" data-target="#p7") Se o Integra Judicial é o novo Sistema, por que é importante fazer a integração das informações no MGP ?
          #p7.collapse
            | O MGP é um Sistema que contempla o registro de informações de vários fluxos de trabalho do MPRJ. Poderíamos dizer que ele é a grande porta de entrada para o registro de informações na base de dados corporativa do MP. Para que durante a implantação do Integra não haja impacto em nenhuma rotina que acessa as informações da base de dados do MP é necessário que se faça o registro no MGP. Porém, em médio prazo, à medida que seja feita a implantação do Integra, os fluxos que hoje acessam o MGP passarão a ser direcionados para o Integra.
        li
          a(href="#p8" data-toggle="collapse" data-target="#p8") O Integra faz a distribuição das intimações ?
          #p8.collapse
            | Sim, o Integra faz a distribuição das intimações de 2ª instância. Com isso, as especialidades que o Tribunal não distribui, como é o caso das Procuradorias Especializadas (Tutela, Habeas Corpus, Infância e Infância Infracional), serão visualizadas na caixa do órgão do MP.
        li
          a(href="#p9" data-toggle="collapse" data-target="#p9") Usando o Integra será possível utilizar o Portal do TJRJ ?
          #p9.collapse
            | Sempre será possível ao usuário do MP utilizar o Portal do TJRJ, até mesmo como contingência, porém o Integra, por ser um Sistema totalmente desenvolvido no MPRJ, traz como grande vantagem estar totalmente aderente ao fluxo de trabalho dos Membros e Servidores do Parquet. Isto também possibilita o desenvolvimento de funcionalidades futuras que venham a auxiliar ainda mais o trabalho dos usuários do MP.
        li
          a(href="#p10" data-toggle="collapse" data-target="#p10") O Integra Judicial já está sendo utilizado por algum órgão do MPRJ ?
          #p10.collapse
            | O Integra Judicial já está sendo utilizado por alguns órgãos de 1ª Instância e 2ª Instância, colhendo resultados satisfatórios, onde o tempo médio para abertura da intimação tem sido de 1s e o de peticionamento de 5s.
        li
          a(href="#p11" data-toggle="collapse" data-target="#p11") O que faço em caso de dúvida ou problema com o Integra ?
          #p11.collapse
            | Em caso de dúvida ou problema com o Integra Judicial, o suporte do MPRJ deve ser contatado através do telefone: (21) 2510-6246  ou pelo email: gmi.n1@mprj.mp.br.
        li
          a(href="#p12" data-toggle="collapse" data-target="#p12") Como faço para fazer comentários sobre sugestões de melhorias e novos desenvolvimentos no Integra Judicial ?
          #p12.collapse
            | Deve ser encaminhada uma mensagem para integra.judicial@mprj.mp.br.
        li
          a(href="#p13" data-toggle="collapse" data-target="#p13") Existe alguma confirmação do peticionamento via Integra ?
          #p13.collapse
            | Sim! Ao realizar o peticionamento, o Integra providencia ao usuário um documento de protocolo, fornecido pelo TJERJ, que comprova a ação de resposta da intimação.
        li
          a(href="#p14" data-toggle="collapse" data-target="#p14") Como funciona o peticionamento de processos sigilosos ?
          #p14.collapse
            | O Integra não trata processos sigilosos, pois o MNI (serviço do TJERJ) não contempla o recebimento de documentos com este grau de sigilo.
        li
          a(href="#p15" data-toggle="collapse" data-target="#p15") É possível, pelo Integra, membros fazerem o peticionamento de processos que não foram intimados ?
          #p15.collapse
            | Na versão atual não, mas nas próximas versões já estará contemplada a possibilidade de fazer o peticionamento avulso em processos em que o MP não foi intimado.
        li
          a(href="#p16" data-toggle="collapse" data-target="#p16") Só consigo acessar o Integra dentro da rede do MPRJ?
          #p16.collapse
            | Não. O Integra pode ser acessado pela internet através do browser Google Chrome com versão igual ou superior à 70.0.35
        li
          a(href="#p17" data-toggle="collapse" data-target="#p17") O que é preciso para acessar o Integra ?
          #p17.collapse
            | Para acessar o Integra basta clicar no link do Sistema. O computador deverá estar conectado à rede do MPRJ ou ter acesso à internet, e ter versão do browser Google Chrome igual ou superior à 70.0.35
