.container.faq
  .row.justify-content-between
    .col-8.perguntas
      h1
        i.fas.fa-question
        | Perguntas frequentes
      ol.perguntas
        li
          a(href="#p11" data-toggle="collapse" data-target="#p11") O que é o Integra Policial ?
          #p11.collapse
            | É o Sistema de Inquérito Policial do MPRJ que visa promover a comunicação entre a  PCERJ e o MPRJ, , a fim de receber Inquéritos Policiais e enviar promoções.
        li
          a(href="#p22" data-toggle="collapse" data-target="#p22") Quais são as principais funcionalidades da versão inicial do Integra Policial ?
          #p22.collapse
            ul
              li Receber Inquérito Policial da PCERJ;
              li Realizar a promoção para delegacia;
              li Realizar a baixa, prorrogando o prazo da delegacia;
              li Solicitar diligência;
              li Realizar denúncia;
              li Realizar arquivamento;
              li Realizar declínio de atribuição;
              li Realizar a distribuição automática de Inquéritos;
              li Realizar a distribuição Manual de Inquéritos;
        li
          a(href="#p33" data-toggle="collapse" data-target="#p33") Quem pode acessar o Integra Policial ?
          #p33.collapse
            | O Integra Policial pode ser acessado por Promotorias e, na sua versão inicial, existem os seguintes perfis de acesso: Promotor, Analista Promotoria e Secretaria.
        li
          a(href="#p44" data-toggle="collapse" data-target="#p44") Utilizando o Integra Policial é necessário fazer o registro manual no MGP ?
          #p44.collapse
            | Na próxima versão, o Integra Policial fará o registro automático no MGP de todas as operações realizadas no Integra Policial.
        
        li
          a(href="#p66" data-toggle="collapse" data-target="#p66") O Integra Policial faz a distribuição automática dos Inquéritos Policiais?
          #p66.collapse
            | Sim, o Integra Policial faz a distribuição automática dos Inquéritos Policiais. Contudo, a distribuição manual poderá ser realizada, caso necessário. Em casos onde haja uma nova regra de distribuição não contemplada no Integra, os Inquéritos Policiais são encaminhados para uma área de Inquéritos Policiais Não Distribuídos, onde poderá ser realizada a distribuição manual dos mesmos.
        li
          a(href="#p77" data-toggle="collapse" data-target="#p77") O que faço em caso de dúvida ou problema com o Integra Policial?
          #p77.collapse
            | Em caso de dúvida ou problema com o Integra Policial, o suporte do MPRJ deve ser contatado pelo email: gmi.n1@mprj.mp.br.
        li
          a(href="#p88" data-toggle="collapse" data-target="#p88") Só consigo acessar o Integra Policial dentro da rede do MPRJ?
          #p88.collapse
            | Não. O Integra Policial pode ser acessado pela internet através do browser Google Chrome com versão igual ou superior à 70.0.35.
        li
          a(href="#p99" data-toggle="collapse" data-target="#p99") O que é preciso para acessar o Integra Policial ?
          #p99.collapse
            | Para acessar o Integra Policial basta clicar no link do Sistema. O computador deverá estar conectado à rede do MPRJ ou ter acesso à internet, e ter versão do browser Google Chrome igual ou superior à 70.0.35.

