#slider.card.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#slider', data-slide-to='0')
    li(data-target='#slider', data-slide-to='1')
  .carousel-inner
    .carousel-item.active
      a(href="" data-toggle="modal" data-target="#grafico1")
        img.w-100.d-block(src='../img/grafico-operacoes-por-faixa-horario-01.jpg', alt='Operação vs faixa de horário')
    .carousel-item
      a(href="" data-toggle="modal" data-target="#grafico2")
        img.w-100.d-block(src='../img/grafico-usuario-operacoes-01.jpg', alt='Usuário vs Operação')
  a.carousel-control-prev(href='#slider', role='button', data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Anterior
  a.carousel-control-next(href='#slider', role='button', data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Próximo



