head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  meta(name="description" content="MPRJ INTEGRA JUDICIAL FAQ")
  meta(name="author" content="Tiago de Araujo Fernandes")
  title MPRJ

  link(rel='apple-touch-icon', href='http://www.mprj.mp.br/mprj-responsiveflat-theme/images/comum/icones_apple/icon-apple-touch-57x57.jpg')
  link(rel='apple-touch-icon', sizes='72x72', href='http://www.mprj.mp.br/mprj-responsiveflat-theme/images/comum/icones_apple/icon-apple-touch-72x72.jpg')
  link(rel='apple-touch-icon', sizes='114x114', href='http://www.mprj.mp.br/mprj-responsiveflat-theme/images/comum/icones_apple/icon-apple-touch-114x114.jpg')
  link(rel='apple-touch-icon', sizes='144x144', href='http://www.mprj.mp.br/mprj-responsiveflat-theme/images/comum/icones_apple/icon-apple-touch-144x144.jpg')
  link(href='http://www.mprj.mp.br/mprj-responsiveflat-theme/images/favicon.ico', rel='Shortcut Icon')

  link(type="text/plain" rel="author" href="humans.txt")
  link(rel="stylesheet", type="text/css", href="css/app.min.css")
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/solid.css', integrity='sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm', crossorigin='anonymous')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/regular.css', integrity='sha384-FKw7x8fCxuvzBwOJmhTJJsKzBl8dnN9e2R4+pXRfYoHivikuHkzWyhKWDSMcGNK8', crossorigin='anonymous')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css', integrity='sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq', crossorigin='anonymous')
