header#home.header-container
  .container-fluid.header-content
    span.trapeze-bg
    .container.welcome-content
      .row.justify-content-between
        .col-6.product-text
          h1
            i.fas.fa-eye
            | Visão do Produto
          p
            | É o Sistema de processo eletrônico do MPRJ que visa a tratar as intimações oriundas do TJRJ, assim como inqueritos policiais oriundos da PCERJ encaminhados para o Parquet.
          .row
            .col-sm
              a.default-button.suporte.button(href="http://helpdesk.mprj.mp.br/CherwellPortal/helpdesk" target="_blank")
                i.fas.fa-question-circle
                | Suporte
              a.default-button.sugestoes.button(href="mailto:suporteintegrajudicial@mprj.mp.br" target="_blank")
                i.fas.fa-envelope-open-text
                | Sugestões
        .col-6.product-image
          .card
            .media
              img.w-100.d-block(src='img/placeimg_520_320_tech.jpg', alt='Usuário vs Operação')
