doctype html
html(lang="en")
  include head
  body#integra
    #page-preloader.preloader
      include preloader
    section#main.wrapper
      include header
      include nav
      section#projeto-judicial.block
        include projeto-judicial
      section#projeto-policial.block
        include projeto-policial
      section#faq-judicial.block
        include faq-judicial
      section#faq-policial.block
        include faq-policial
      section#videos.block
        include videos
      footer#footer.footer
        include footer
  include modals
  script(src='js/vendor/jquery.min.js')
  script(src='js/vendor/popper.min.js')
  script(src='js/vendor/bootstrap.min.js')
  script(src='js/vendor/jqueryNav.js')
  script(src='js/vendor/parallax.min.js')
  script(src='js/vendor/app.vendor.js')
  script(src='js/app.min.js')


