#grafico1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='grafico1', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-xl(role='document')
    .modal-content
      .modal-header
        h5.modal-title Gráfico hipotético de operação x faixa de horário
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') x
      .modal-body.w-auto
        img.w-100.h-100(src='img/grafico-operacoes-por-faixa-horario-01-01.jpg')
#grafico2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='grafico2', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-xl(role='document')
    .modal-content
      .modal-header
        h5.modal-title Gráfico hipotético de usuário x operação
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') x
      .modal-body.w-auto
        img.w-100.h-100(src='img/grafico-usuario-operacoes.jpg')
#video1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='video1', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-xl(role='document')
    .modal-content
      .modal-header
        h5.modal-title Abertura e peticionamento
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') x
      .modal-body.w-auto
        .embed-responsive.embed-responsive-16by9
          video(width='100%', height='100%', controls='')
            source(src='videos/abertura_e peticionamento_de intimacao.mp4', type='video/mp4')
#video2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='video2', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-xl(role='document')
    .modal-content
      .modal-header
        h5.modal-title Tela de intimações
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') x
      .modal-body.w-auto
        .embed-responsive.embed-responsive-16by9
          video(width='100%', height='100%', controls='')
            source(src='videos/tela_intimacoes_video_completo.mp4', type='video/mp4')
