nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-deep-blue
  include logo
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    ul.navbar-nav.mt-2.mt-md-0.ml-auto
      li.nav-item.current
        a.scroll(href="#home") home
      li.nav-item
        include components/projeto-piloto-btn-group
      li.nav-item
        include components/faq-btn-group
      li.nav-item
        a.scroll(href="#videos") vídeos
      li.nav-item
        include components/sistema-btn-group
