.container.projeto
  .row
    .col-sm.col-md.funcionalidades
      h1
        i.fas.fa-tasks
        | Principais funcionalidades do Integra Judicial
      ul.funcionalidades
        li
          | Recepção e distribuição das intimações
        li
          | Abertura das intimações
        li
          | Peticionamento intercorrente
        li
          | Consulta de peças do processo
        li
          | Integração MGP (acessar o Integra somente para controle das intimações)
        li
          | Utilização em promotorias e procuradorias
        li
          a(href="" data-toggle="modal" data-target="#grafico1") Gráfico de operação x faixa de Horário
        li
          a(href="" data-toggle="modal" data-target="#grafico2") Gráfico de usuário x operação
    .col-sm.col-md.funcionalidades
      h1
        i.fas.fa-history
        | Funcionalidades futuras
      ul.funcionalidades
        li
          | Peticionamento por cota
        li
          | Botão de ciência
        li
          | Peticionamento avulso
        li
          | Consulta processo
        li
          | Controle do acervo de processo
        li
          | Sugestão de categorização de ciência e parecer
        li
          | Módulo secretaria
