.container.projeto
  .row
    .col-sm.col-md.funcionalidades
      h1
        i.fas.fa-tasks
        | Principais funcionalidades do Integra Policial
      ul.funcionalidades
        li
          | Receber Inquérito Policial da PCERJ
        li
          | Realizar a promoção para delegacia
        li
          | Realizar a baixa, prorrogando o prazo da delegacia
        li
          | Solicitar diligência
        li
          | Realizar denúncia
        li
          | Realizar arquivamento
        li
          | Realizar declínio de atribuição
        li
          | Realizar a distribuição automática de Inquéritos
        li
          | Realizar a distribuição Manual de Inquéritos
        li
          | Visualizar peças
        li
          | Realizar a busca de Inquéritos policiais por situação: Pendentes, Relatados, Medida Cautelar e Solicitados Prazo.
        li
          | Realizar a busca de Inquéritos policiais por Órgão
        li
          | Realizar a busca de Inquéritos por número de registro de ocorrência

    .col-sm.col-md.funcionalidades
      h1
        i.fas.fa-history
        | Funcionalidades futuras
      ul.funcionalidades
        li
          | Integração com MGP
        li
          | Visualizar peças em abas

