.container.videos.d-flex.justify-content-center
  .row.justify-content-center
    .col-12.funcionalidades
      h1
        i.fas.fa-film
        | Vídeos
      ul.videos.list-unstyled
        li.media
          a(href="" data-toggle="modal" data-target="#video1")
            img.mr-3(src='img/vid-01-placeholder.jpeg')
            .media-body
              | Abertura e peticionamento
        li.media.my-4
          a(href="" data-toggle="modal" data-target="#video2")
            img.mr-3(src='img/vid-02-placeholder.jpeg')
            .media-body
              | Tela de intimações
